Remove QName IDs

Related to CybOXProject/schemas#354

Comment on the cti-stix list 10/29/15 by Mark Davidson:
If want the ability to dereference arbitrary STIX IDs (for use in accessing some kind of repository, let’s say), then I think requiring a rule whereby STIX IDs can be turned into a URL could be a good requirement (Note: URLs as IDs would satisfy this requirement). While there is a concept for idref today, I personally haven’t seen an implementation that dereferences STIX IDs outside of the document containing the idref.

PS, a notional example: <stix:Indicator idref=”https://example.org/stix121/indicators/123”/>

This issue was discussed extensively.
Draft normative text has been created in the pre-draft CTI Common spec doc
Consensus was asserted on the draft normative text in the pre-draft CTI Common spec doc
A one week comment period was opened 2/1-2/5 where no objections were raised to the consensus.
Consensus is now officially asserted as achieved.

The consensus text from the pre-draft spec doc is as follows: 

Identifiers
This section defines the ID type. Within STIX and CybOX many objects have identifiers (IDs) that uniquely identify them among all objects. These identifiers and fields that references these identifiers (by having a type of ID) MUST conform to the production algorithm and format defined in this section.
Format
[construct-type]--[uuid]

construct-type: Construct type is the exact value from the type field of the construct being identified or referenced. The value MUST be represented all in lower-case.
uuid: UUID is an RFC 4122 compliant Version 4 UUID. This field MUST be generated according to the algorithm(s) defined in RFC 4122, Section 4.4 (Version 4 UUID). Many software libraries exist that can facilitate UUID creation.
ABNF
id = construct-type "--" uuid
construct-type = "indicator" / "observable" / ... / ...
uuid = RFC 4122 UUID Version 4 ABNF